html{
    background-color: #77ABD4;

}

.container {
  width: 280px;
}

.title {
  font-size: 14px;
  font-weight: bold;
  padding: 8px;
  text-align: center;
}

.textbox {
  width: 100%;
  font-size: 12px;
  margin: 0;
  padding: 0px 2px;
}

.textbox:focus {
  outline: 0;
  border-color: #66afe9;
}

.bookmarks {
  margin: 5px 5px;
  padding: 3px;
  text-align: center;
}


.bookmark {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color:#1866CC ;
  border-bottom-color: #00254d;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-radius: 0.8rem;
  padding: 3px;
  padding-bottom: 5px;
  margin-bottom: 7px;
}

.bookmark-title {
  padding-left: 5px;
  font-weight: bold;
}

.bookmark-controls img {
  margin: 0 2px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.bookmark-controls {
  display: flex;
  flex: auto;
  justify-content: right;
  align-content: center;
}
